.room-details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: 20px auto;
    text-align: center;
    height: 100vh;
  }
  
  .room-details-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
  }
  
  .room-details-info {
    margin-top: 20px;
  }
  
  .room-details-name {
    font-size: 2.2rem;
    color: #333333;
    margin: 0;
  }
  
  .room-details-price {
    font-size: 1.6rem;
    color: gold;
    margin: 10px 0;
  }
  
  .room-details-description {
    font-size: 1.1rem;
    color: #555555;
    margin: 20px 0;
  }
  
  .room-details-features {
    list-style-type: none;
    padding: 0;
    margin: 20px 0;
  }
  
  .room-details-features li {
    font-size: 1.1rem;
    color: #444444;
    background: #f9f9f9;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .login-button {
    background-color: gold;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 12px 24px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 20px;
  }
  
  .login-button:hover {
    background-color: rgb(167, 143, 22);
  }
  